# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Ignore Firebase Configuration
lib/firebase_options.dart
ios/Runner/GoogleService-Info.plist
firebase.json
android/app/google-services.json

# Ignore application-specific files
android/app/src/main/res/values/values.xml

# Ignorar carpetas generadas por compilación para Android NDK
**/.cxx/

# Ignorar configuraciones temporales y archivos generados por CMake
**/CMakeFiles/
**/CMakeCache.txt
**/build.ninja
**/cmake_install.cmake
**/.cmake/

# Ignorar archivos de configuración y metadatos de generación
**/configure_fingerprint.bin
**/metadata_generation_command.txt
**/additional_project_files.txt
**/android_gradle_build*.json
**/symbol_folder_index.txt
**/prefab_config.json

# Ignorar índices y cachés generados
**/build_file_index.txt
**/cmake.check_cache
**/rules.ninja

# Ignorar cualquier archivo generado en subdirectorios por compilación en Debug y Release
**/Debug/
**/Release/

# Firebase y otros archivos sensibles
macos/Runner/GoogleService-Info.plist
ios/GoogleService-Info.plist
ios/Podfile.lock
**/*.xcworkspace/
**/*.xcshareddata/
